<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="Title" value="Weather API" />
        <add key="Description" value="Tracks the weather around the globe." />
        <add key="Name" value="Sam Gutermuth" />
        <add key="Email" value="sam.gutermuth@toro.com" />
    </appSettings>
</configuration>